<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>markdown编辑器 - 故事而已</title>
</head>
<body>
<link rel="stylesheet" href="../plugin/editor.md/css/editormd.css"/>
<link rel="stylesheet" href="../plugin/elementui/index.css"/>
<style>
    div {
        display: block;
    }
</style>
<div id="app">
    <div style="margin-top: 15px">
        <el-input placeholder="请输入内容" v-model="article.articleTitle">
            <template slot="prepend">文章标题</template>
        </el-input>
    </div>
    <div id="editor" style="margin-top: 15px">
    <textarea style="display:none;">
    </textarea>
    </div>
    <!--<div id="category" style="margin-top: 15px">-->
        <!--<el-tag>请选择分类</el-tag>-->
        <!--<el-checkbox v-model="checked">备选项1</el-checkbox>-->

    <!--</div>-->
    <!--<div id="tags" style="margin-top: 15px">-->
        <!--<el-tag>请选择标签</el-tag>-->
        <!--<template>-->
            <!--<el-select-->
                    <!--v-model="value"-->
                    <!--multiple-->
                    <!--filterable-->
                    <!--allow-create-->
                    <!--default-first-option-->
                    <!--placeholder="请选择文章标签">-->
                <!--<el-option-->
                        <!--v-for="item in options"-->
                        <!--:key="item.value"-->
                        <!--:label="item.label"-->
                        <!--:value="item.value">-->
                <!--</el-option>-->
            <!--</el-select>-->
        <!--</template>-->
    <!--</div>-->
    <div id="submitBtn" style="text-align: center">
        <el-button type="primary" id="publish" @click="publish()">发布文章</el-button>
        <el-button id="save" @click="save()" type="primary" plain>保存草稿</el-button>
    </div>
</div>
<script src="../js/jquery.min.js"></script>
<script src="../plugin/editor.md/editormd.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../plugin/elementui/index.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            categories: [],
            article: {},
            tags: [],
            editor: null
        },
        methods: {
            //保存草稿
            save() {
                this.article.articleMain = this.editor.getMarkdown();
                axios.post('/story/article/save',this.article).then(res=>{
                    this.$message({
                        message:res.data.message,
                        type:res.data.flag?'success':'error'
                    });
                })

            },
            //发布文章
            publish() {
                this.article.articleMain = this.editor.getMarkdown();
                axios.post('/story/article', this.article).then(res => {
                    this.$message({
                        message: res.data.message,
                        type: res.data.flag ? 'success' : 'error'
                    });
                    if (res.data.flag) {
                        console.log("保存成功");
                    }
                })
            }
        },
        mounted() {
            this.editor = editormd("editor", {
                width: "100%",
                height: "900px",
                path: "../plugin/editor.md/lib/"
            });
        }
    });
    /*var editor;
    $(function() {
        editor = editormd("editor", {
             width  : "100%",
             height : "900px",
            path   : "../plugin/editor.md/lib/"
        });
    });

    function test(){
        alert(editor.getMarkdown());
    }*/
</script>

</body>
</html>